@import "@dreamhub/design-system/tokens.css";
@import "@dreamhub/design-system/typography.css";
@import "@dreamhub/design-system/themes/planner";
@import "@dreamhub/design-system/interactions.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
